/* ======= General Styles ======= */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #090808;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* ======= Links ======= */
a {
    text-decoration: none;
    color: #0c0d0d;
}

a:hover {
    color: #0c0d0d;
}

/* ======= Navbar ======= */
/* Black background and white text for navigation */
.navbar {
    background-color: #000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
    color: #d1ecf1;
}

/* ======= Header ======= */
/* Centered header with padding and background color */
header {
    padding: 40px 20px;
    background-color: #131415;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

#modo-btn {
    padding: 10px 20px;
    background-color: #fff;
    color: #111;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#modo-btn:hover {
    background-color: #ddd;
}

/* ======= Section Styling ======= */
section {
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(14, 15, 16) rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

h2 {
    font-size: 1.75rem;
    color: #333;
}

/* ======= Quiz Section ======= */
#quiz input, #pregunta-usuario-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#quiz button, #pregunta-usuario-section button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

#quiz button:hover, #pregunta-usuario-section button:hover {
    background-color: #0056b3;
}

/* ======= Footer ======= */
/* Black background and white text for the footer */
footer {
    background-color: #000;
    color: #090808;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 5px;
    color: #090808;
}

footer a {
    color: #007bff;
}

footer a:hover {
    text-decoration: underline;
}

/* ======= Dark Mode ======= */
body.dark-mode {
    background-color: #181818;
    color: #050505;
}

body.dark-mode header, body.dark-mode footer {
    background-color: #222;
    color: #f4f4f9;
}

body.dark-mode section {
    background-color: #333;
    color: #f4f4f9;
}

body.dark-mode .navbar {
    background-color: #000;
}

body.dark-mode #modo-btn {
    background-color: #444;
    color: #0a0a0c;
}

body.dark-mode #modo-btn:hover {
    background-color: #666;
}
